body
{
    margin: 0;
    font-family: 'Segoe UI';
}
h1,h2,h3
{
    margin: 0;
    text-align: center;
}
section
{
    width: 100%;
    min-height:  100vh;
}
.section1
{
    background: url(PIC1.jpg) center / cover ;
}
.hello
{
    text-align: center;
    width: 100%;
    position: absolute;
    top: 30%;
    color: black;
}
.hello1
{
    font-size: 3em;
}
.btn
{
    min-width: 120px;
    min-height: 40px;
    font-size: 1em;
    color:black;
    border-style: none;
    outline: none;
    background-color: rgba(0, 0, 0, 0);
    border:  1px solid black;
    border-radius: 20px;
    cursor: pointer;
}
.btn:hover 
{
    background-color: white;
    color: black;
}

ul
{
    list-style: none;
    margin: 0;
}

.ico
{
    margin-right: 50px;
    font-size: 3em;
}

.ico a 
{
    color:black ;
    text-decoration: none;
}

.ico a:hover 
{
    color: rgb(242, 247, 248);
}

.icons ul
{
    display: flex;
    justify-content: center;
}

.sect2
{
    color: rgb(46, 46, 46);
    padding-top: 60px;
}

.sect2 h2
{
    text-align: center;
    font-size: 3em;
}

.about
{
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
}

.profile, .skills
{
    width: 550px; 
    margin-top: 25px;
    margin-bottom: 25px;
}

.profile h3, .skills h3
{
    font-size: 2em;
    padding-top: 20px;
}

progress
{
    width: 100%;
}
.section3 
{
    background-color: black;
    color: white;
    padding-top: 50px;
 }
 .section3 h3
 {
     font-weight: normal;
     text-align: center;
 }
 
 .section3 h2 
 {
     text-align: center;
     font-weight: lighter;
     justify-content: space-around;
 }
 .projects
{
    justify-content: space-around;
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
}

.proj
{
    display:flex;
    margin-top: 30px;
    width: 400px;
    height: 300px;
    background-color: red;
    border-radius: 20px;
    background-size: cover;
    background-repeat: no-repeat;
}

.proj-desc
{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    padding-left: 5px;
    padding-top: 15px;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.2s;
}

.proj-desc:hover 
{
    opacity: 1;
}

